body{
    margin: 0px;
    background: #191b1f;
    padding: 100px 0px;
    color: white;
}
.container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

    
}
.container .post-full {
    display: flex;
    width: 1000px;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.container .post-full .post-full-header{
    width: 850px;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.container .post-full .post-full-header .post-full-title {
    flex: 1;
    font-size: 3.2rem;
    font-weight: 500;
    text-align: center;
   
    
}

.container .post-full .post-full-header  .post-full-resume{
    flex: 1;
    text-align: center;
    font-family: Georgia,serif;
    font-size: 1.8rem;
    line-height: 1.0em;
    font-weight: 300;
}

.container .post-full .post-full-image{
    width: 100%;
    height: 600px;
}
.container .post-full .post-full-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* responsive */


@media only screen and  (max-width:1090px){
    
    .container .post-full {
        display: flex;
        width: 800px;
        margin-top: 50px;
        align-items: center;
        flex-direction: column;
        height: 100vh;
      
    }
    .container .post-full .post-full-image{
        width: 100%;
        height: 400px;
        
    }
    .container .post-full .post-full-image img{
        width: 100%;
        height: 400px;
    }
    
} 


@media only screen and  (max-width:844px){
    
    .container .post-full {
        display: flex;
        width: 600px;
        margin-top: 50px;
        align-items: center;
        flex-direction: column;
        height: 100vh;
    }
    .container .post-full .post-full-header{
        width: 600px;
    }
    
   
    .container .post-full .post-full-image{
        width: 100%;
        height: 400px;
        
    }
    .container .post-full .post-full-image img{
        width: 100%;
        height: 400px;
    }
    
} 

@media only screen and  (max-width:664px){
    
    .container .post-full {
        display: flex;
        width: 400px;
        margin-top: 50px;
        align-items: center;
        flex-direction: column;
        height: 100vh;
         
      
    }
    .container .post-full .post-full-header{
        width: 400px;
        height: 650px;
        
    }
    .container .post-full .post-full-header .post-full-title {
        font-size: 2.9rem;

    }
    .container .post-full .post-full-header  .post-full-resume{
        font-size: 1.7rem;
        line-height: 1.0em;
        
    }
    .container .post-full .post-full-image{
        width: 100%;
        height: 300px;
        
    }
    .container .post-full .post-full-image img{
        width: 100%;
        height: 100%;
    }
} 


@media only screen and  (max-width:470px) and (min-height:600px){
    
    .container .post-full {
        display: flex;
        width: 300px;
        align-items: center;
        flex-direction: column;
        height: 100vh; 
    }
    .container .post-full .post-full-header{
        width: 300px;
        height: 500px;
    }
    
    .container .post-full .post-full-header .post-full-title {
        font-size: 1.8rem;
    }
    
    .container .post-full .post-full-header  .post-full-resume{
        font-size: 1.1rem;
    }
    
    .container .post-full .post-full-image{
        width: 100%;
        height: 250px;
        
    }
    
} 