body{
    margin: 0px;
    background: #191b1f;
    padding: 100px 0px;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;

    
}
.container .post-full {
    display: flex;
    width: 1000px;
    margin-top: 50px;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    
    
  
}
.container .post-full .post-full-header{
    width: 800px;
    height: 500px;
    border-bottom: 1px solid gray;
}

.container .post-full .post-full-header .post-full-title {
    width: 100%;
    height: 250px;
    margin: 0;
    font-size: 3.3rem;
    font-weight: 500;
    color: white;
    text-align: center;
    
}

.container .post-full .post-full-header  .post-full-resume{
    width: 100%;
    height: 250px;
    text-align: center;
    margin: 0;
    color: white;
    font-family: Georgia,serif;
    font-size: 1.8rem;
    line-height: 1.0em;
    font-weight: 300;
}

.container .post-full .post-full-image{
    width: 100%;
    height: 400px;
    
}
.container .post-full .post-full-image img{
    width: 100%;
    height: 600px;
}
.container .post-full .post-full-content{
    margin-top: 300px;
    color: white;
}

/* responsive */


@media only screen and  (max-width:1090px){
    
    .container .post-full {
        display: flex;
        width: 800px;
        margin-top: 50px;
        align-items: center;
        flex-direction: column;
        height: 100vh;
      
        
        
      
    }
    .container .post-full .post-full-header{
        width: 800px;
        height: 400px;
        border-bottom: 1px solid gray;
       
    }
    
    .container .post-full .post-full-header .post-full-title {
        width: 100%;
        height: 200px;
        margin: 0;
        font-size: 3.3rem;
        font-weight: 500;
        color: white;
        text-align: center;
        
    }
    
    .container .post-full .post-full-header  .post-full-resume{
        width: 100%;
        height: 200px;
        text-align: center;
        margin: 0;
        color: white;
        font-family: Georgia,serif;
        font-size: 1.8rem;
        line-height: 1.0em;
        font-weight: 300;
    }
    
    .container .post-full .post-full-image{
        width: 100%;
        height: 400px;
        
    }
    .container .post-full .post-full-image img{
        width: 100%;
        height: 400px;
    }
    
} 


@media only screen and  (max-width:844px){
    
    .container .post-full {
        display: flex;
        width: 600px;
        margin-top: 50px;
        align-items: center;
        flex-direction: column;
        height: 100vh;
       
        
        
      
    }
    .container .post-full .post-full-header{
        width: 600px;
        height: 400px;
        border-bottom: 1px solid gray;
       
    }
    
    .container .post-full .post-full-header .post-full-title {
        width: 100%;
        height: 200px;
        margin: 0;
        font-size: 3.3rem;
        font-weight: 500;
        color: white;
        text-align: center;
        
    }
    
    .container .post-full .post-full-header  .post-full-resume{
        width: 100%;
        height: 200px;
        text-align: center;
        margin: 0;
        color: white;
        font-family: Georgia,serif;
        font-size: 1.8rem;
        line-height: 1.0em;
        font-weight: 300;
    }
    
    .container .post-full .post-full-image{
        width: 100%;
        height: 400px;
        
    }
    .container .post-full .post-full-image img{
        width: 100%;
        height: 400px;
    }
    
} 

@media only screen and  (max-width:664px){
    
    .container .post-full {
        display: flex;
        width: 400px;
        margin-top: 50px;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        
        
        
      
    }
    .container .post-full .post-full-header{
        width: 400px;
        height: 400px;
        border-bottom: 1px solid gray;
        
    }
    
    
} 


@media only screen and  (max-width:470px){
    
    .container .post-full {
        display: flex;
        width: 300px;
        margin-top: 50px;
        align-items: center;
        flex-direction: column;
        height: 60vh;
        
        
    }
    .container .post-full .post-full-header{
        width: 300px;
        height: 400px;
        border-bottom: 1px solid gray;
        
    }
    
    .container .post-full .post-full-header .post-full-title {
        width: 100%;
        height: 200px;
        margin: 0;
        font-size: 1.9rem;
        font-weight: 500;
        color: white;
        text-align: center;
        
    }
    
    .container .post-full .post-full-header  .post-full-resume{
        width: 100%;
        height: 200px;
        text-align: center;
        margin: 0;
        color: white;
        font-family: Georgia,serif;
        font-size: 1.2rem;
        line-height: 1.0em;
        font-weight: 300;
    }
    
    .container .post-full .post-full-image{
        width: 100%;
        height: 250px;
        
    }
    .container .post-full .post-full-image img{
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
    
} 