@import url(portada.css);
@import url(card_small.css);
@import url(card_medium.css);

body{
    margin: 0px;
    padding: 300px 0px;
    background: #191b1f;
}


@media only screen and  (max-width:1064px){
   
    .container .post-card{
        display: flex;
        width: 860px;
        height: 400px;
        margin: 20px 0px;
    
    }
    .container .post-card .post-card-image-link{
        width: 530px;
        height: 100%;
    } 
    .container .post-card .post-card-image-link img{
        width: 530px;
        height: 100%;
        object-fit: cover;
       
    } 
    /* end post card */

    
    .container2 .box-card-small{
        display: flex;
        width: 860px;
        height: 600px;

       
    
        
    }
    .container2 .box-card-small .post-card-small{
        display: flex;
        flex-direction: column;
        width: 280px;
        height: 500px;
        border-bottom: 0.5px solid gray;
        
    
       
    }
    
    /* end box card small */

    .container3 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 70vh;
    }
    .container3 .box-card-medium{
        display: flex;
        width: 860px;
        height: 400px;
        justify-content: space-between;
        align-items: center;
    }
    .container3 .box-card-medium .post-card-medium{
        display: flex;
        flex-direction: column;
        width: 410px;
        height: 400px;
        border-bottom: 0.5px solid gray;
       
    }
}

@media only screen and  (max-width:926px){
    
    body{
        margin: 0px;
        padding: 160px 0px;
        background: #191b1f;
    }
    .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 50vh;
    }
   
    .container .post-card{
        display: flex;
        width: 750px;
        height: 400px;
     
    }
    .container .post-card .post-card-image-link{
        width: 420px;
        height: 100%;
        
    } 
    .container .post-card .post-card-image-link img{
        width: 420px;
        height: 100%;
        object-fit: cover;
       
    } 
    /* end post card */

    
    .container2 .box-card-small{
        display: flex;
        width: 750px;
        height: 100vh;
        flex-wrap: wrap;
    }
    
    .container2 .box-card-small .post-card-small{
        display: flex;
        flex-direction: column;
        width: 360px;
        height: 500px;
        margin: 40px 0px;
        
    }
    
    /* end box card small */
   
    .container3 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60vh;
        margin-top: 30pc;
    }
    .container3 .box-card-medium{
        display: flex;
        width: 750px;
        height: 400px;
        justify-content: space-between;
        align-items: center;

    }
    
    .container3 .box-card-medium .post-card-medium{
        display: flex;
        flex-direction: column;
        width: 360px;
        height: 400px;
        border-bottom: 0.5px solid gray;
       
    }
    .container3 .box-card-medium .post-card-medium .post-card-content .post-card-content-link .post-card-header{ 
        flex: 1;
        text-align: center;
        padding: 0px 5px;
    } 
    .container3 .box-card-medium  .post-card-medium .post-card-content .post-card-content-link .post-card-resume{ 
        flex:  2;
        font-size: 1.2rem;
        text-align: center;
        padding: 0px 6px;
    } 
}


@media only screen and  (max-width:800px){
    
    .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100vh;
    }
   
    .container .post-card{
        display: flex;
        width: 600px;
        height: 800px;
        flex-direction: column-reverse;
    }
    .container .post-card .post-card-image-link{
        width: 100%;
        height: 400px;
        
    } 
    .container .post-card .post-card-image-link img{
        width: 100%;
        height: 100%;
    
    } 
    .container .post-card .post-card-content{
        height: 400px;
        width: 100%;
        display: flex;
    }
    
    .container .post-card .post-card-content .post-card-content-link{
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
    } 
    
    .container .post-card .post-card-content .post-card-content-link .post-card-header{ 
        flex: 1;
        height: 100%;
        width: 100%;
        text-align: center;
 
        
    } 
    
    .container .post-card .post-card-content .post-card-content-link .post-card-resume{ 
        flex: 1;
        height: 100%;
        width: 100%;
        text-align: center;
        font-size: 1.2rem;
    } 

    /* end post card */

    .container2 {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 1700px;
        margin-top: 5pc;
    }
    
    .container2 .box-card-small{
        width: 360px;
        height: 100%; 
    }
    .container2 .box-card-small .post-card-small{
        display: flex;
        flex-direction: column;
        width: 360px;
        height: 500px;
        margin: 10px 0px;
        
    }
    
    /* end box card small */

    .container3 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 1000px;
        margin: 0;
    }
    .container3 .box-card-medium{
        display: flex;
        width: 360px;
        height: 100%;
        flex-direction: column;
      
    }
    .container3 .box-card-medium .post-card-medium{
        display: flex;
        flex-direction: column;
        width: 360px;
        height: 100vh;
        margin: 30px 0px;
     
    }
}


@media only screen and  (max-width:643px){
    
    .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100vh;
    }
   
    .container .post-card{
        display: flex;
        width: 360px;
        height: 760px;
        flex-direction: column-reverse;
        align-items: center;
        
        
    }
    .container .post-card .post-card-image-link{
        width: 360px;
        height: 340px;
          
    } 
    .container .post-card .post-card-image-link img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    } 
    .container .post-card .post-card-content{
        width: 360px;
        height: 420px;
    }
    
    .container .post-card .post-card-content .post-card-content-link{
        display: flex;
        flex-direction: column;
        color: white;
    } 
    
    .container .post-card .post-card-content .post-card-content-link .post-card-header{ 
        flex: 1;
        text-align: center;
        font-size: 1.4rem;
    } 
    
   
    
    .container .post-card .post-card-content .post-card-content-link .post-card-resume{ 
        flex: 1;
        font-size: 1.3rem;
        text-align: center;
        
    } 
    /* end post card */

    
    .container2 {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 1700px;
        margin-top: 5pc;
    }
    
    .container2 .box-card-small{
        width: 360px;
        height: 100%; 
    }
    .container2 .box-card-small .post-card-small{
        display: flex;
        flex-direction: column;
        width: 360px;
        height: 500px;
        margin: 10px 0px;
        
    }
    
    /* end box card small */

    .container3 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 1000px;
        margin: 0;
    }
    .container3 .box-card-medium{
        display: flex;
        width: 360px;
        height: 100%;
        flex-direction: column;
      
    }
    .container3 .box-card-medium .post-card-medium{
        display: flex;
        flex-direction: column;
        width: 360px;
        height: 100vh;
        margin: 30px 0px;
     
    }
}





@media only screen and  (max-width:423px){
    
    .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 760px;
    }
   
    .container .post-card{
        width: 340px;
        height: 100%;
    }
    .container .post-card .post-card-image-link{
        width: 340px;
        height: 340px;
          
    } 
    .container .post-card .post-card-image-link img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    } 
    .container .post-card .post-card-content{
        width: 340px;
        height: 420px;
    }
    
    .container .post-card .post-card-content .post-card-content-link{
        display: flex;
        flex-direction: column;
        color: white;
    } 
    
    .container .post-card .post-card-content .post-card-content-link .post-card-header{ 
        flex: 1;
        text-align: center;
        font-size: 1.4rem;
    } 
    
   
    
    .container .post-card .post-card-content .post-card-content-link .post-card-resume{ 
        flex: 1;
        font-size: 1.3rem;
        text-align: center;
        
    } 
    /* end post card */

    
    .container2 {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 1700px;
        margin-top: 5pc;
    }
    
    .container2 .box-card-small{
        width: 340px;
        height: 100%; 
    }
    .container2 .box-card-small .post-card-small{
        display: flex;
        flex-direction: column;
        width: 340px;
        height: 500px;
        margin: 10px 0px;
        
    }
    
    /* end box card small */

    .container3 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 1000px;
        margin: 0;
    }
    .container3 .box-card-medium{
        width: 340px;
        height: 100%;
      
    }
    .container3 .box-card-medium .post-card-medium{
        display: flex;
        flex-direction: column;
        width: 340px;
        height: 100%;
        margin: 30px 0px;
     
    }
   
    .container3 .box-card-medium .post-card-medium .post-card-content{
        width: 100%;
        height: 240px;
    }
    
    
    
}

@media only screen and  (max-width:377px)  and (min-height: 1000px){
    body{
        padding: 0;
    }
    .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 900px;
    }
    
    .container .post-card{
        display: flex;
        width: 320px;
        height: 750px;
        flex-direction: column-reverse;


    }
    .container .post-card .post-card-image-link{
        width: 100%;
        height: 340px;
    
        
    } 
    .container .post-card .post-card-image-link img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    } 
    .container .post-card .post-card-content{
        width: 320px;
        height: 300px;
        background-color: transparent;
    }
    
    .container .post-card .post-card-content .post-card-content-link{
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
    } 
    
    .container .post-card .post-card-content .post-card-content-link .post-card-header{ 
        flex: 1;
        text-align: center;
        padding: 0px;
    } 
    .container .post-card .post-card-content .post-card-content-link .post-card-resume{ 
        flex: 2;
        font-size: 1.2rem;
        text-align: center;
        padding: 0;
        
    } 
    /* end post card */

    .container2 {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 1700px;  
    }
    .container2 .box-card-small{
        display: flex;
        flex-direction: column;
        width: 320px;
        height: 100%;
        flex-wrap: wrap;

    }

    .container2 .box-card-small .post-card-small{
        display: flex;
        flex-direction: column;
        width: 320px;
        height: 500px;
        margin: 0;
        
    }
    
    /* end box card small */

    .container3 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 1100px;
    }

    .container3 .box-card-medium{
        display: flex;
        width: 320px;
        height: 1000px;
        flex-direction: column;

    }
    .container3 .box-card-medium .post-card-medium{
        display: flex;
        flex-direction: column;
        width: 320px;
        height: 100vh;
        margin: 30px 0px;
     
    }
    .container3 .box-card-medium .post-card-medium .post-card-content .post-card-content-link .post-card-header{ 
        flex: 1;
        text-align: center;
        padding: 0px 10px;
    } 
    .container3 .box-card-medium .post-card-medium .post-card-content .post-card-content-link .post-card-header .post-card-title{ 
        font-size: 1.2rem;
    } 
    
    .container3 .box-card-medium  .post-card-medium .post-card-content .post-card-content-link .post-card-resume{ 
        flex:  2;
        font-size: 1.1rem;
        text-align: center;
        padding: 0px 10px;
        
    } 
    
   
    
}