.header {
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
}
.header .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: black;


}
.header .container .navegation{
    display: flex;
    align-items: center;
    height: 90px;
    width: 40%;
    background-color: transparent;
    margin: 0;

}

.header .container .navegation  img{
    height: 95px;
    width: 95px;
    margin: 0;
}

.header .container .navegation  .navegation-list-blog{
    outline: none;
    font-size: 16px;
    background-color: transparent;
    border: none;
    margin-left: 10px;
    margin-bottom: 5px;

}
.header .container .navegation  .navegation-list-blog:hover{
    
    color: rgb(126, 124, 124);
    font-size: 16px;

}
.header .container .navegation  .navegation-list-blog a{
    color: white;
    text-decoration: none;

}
.header .container .navegation .navegation-suscriber{

    outline: none;
    background-color: transparent;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    margin-left:35pc ;
    margin-bottom: 5px;

}
.header .container .navegation .navegation-suscriber:hover{

    outline: none;
    background-color: transparent;
    color: rgb(156, 156, 156);
    border-radius: 10px;
    font-size: 15px;

}

/* Modal */

.modal-container{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    width: 35%;
    height: 30%;
    background-color:  #2a2d35;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
    border-radius: 10px;
    color: white;

    /* overflow: hidden; */
}

.modal-close {
    transform: translatey(-250%);
}
.close{
    position: absolute;
    top: 0px;
    right: 12px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: red;
    line-height: 25px;
    cursor: pointer;
    border-radius: 50%;

}
.form{
    height: 70px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form input{
    height: 50px;
    width: 70%;
    background-color: #202228;    
    color: #738a94;
    font-size: 20px;
    border-radius: 10px;
    outline: none;
    outline-style: none;
    border: 0;
}
.modal-send{
    background: linear-gradient(#4fb7f0,#29a0e0 60%,#29a0e0 90%,#36a6e2);
    height: 50px;
    width: 90px;
    border:0;
    border-radius: 10px;
    margin-left: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;

}
.modal-send:hover{
    background: linear-gradient(#56bbf1,#2798d4 60%,#279fe0 90%,#36aeee);

}

/* End Modal */


@media only screen and  (max-width:1300px){
   
    .header .container .navegation{
        display: flex;
        align-items: center;
        height: 90px;
        width: 70%;
        background-color: transparent;
        margin: 0;
    
    }
} 

@media only screen and  (max-width:1055px){
   
    .header .container .navegation{
        display: flex;
        align-items: center;
        height: 90px;
        width: 90%;
        background-color: transparent;
        margin: 0;
    
    }
    .modal{
        width: 55%;
        height: 25%;
        background-color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: relative;
        transition: transform 1s;
        transform: translateY(0%);
        border-radius: 10px;
    
        /* overflow: hidden; */
    }
    .modal-close {
        transform: translatey(-250%);
    }
} 
@media only screen and  (max-width:910px){
   
    .header .container .navegation{
        display: flex;
        align-items: center;
        height: 90px;
        width: 100%;
        background-color: transparent;
        margin: 0;
    
    }
    .header .container .navegation .navegation-suscriber{

        outline: none;
        background-color: transparent;
        color: white;
        border-radius: 10px;
        font-size: 15px;
        margin-left:26pc ;
        margin-bottom: 5px;
    
    }
}
@media only screen and  (max-width:712px){
   
    .header .container .navegation{
        display: flex;
        align-items: center;
        height: 90px;
        width: 100%;
        background-color: transparent;
        margin: 0;
    
    }
    .header .container .navegation .navegation-suscriber{

        outline: none;
        background-color: transparent;
        color: white;
        border-radius: 10px;
        font-size: 15px;
        margin-left:14pc ;
        margin-bottom: 5px;
    
    }
}
@media only screen and  (max-width:414px){
   
    .header .container .navegation{
        display: flex;
        align-items: center;
        height: 90px;
        width: 100%;
        background-color: transparent;
        margin: 0;
    
    }
    .header .container .navegation .navegation-suscriber{

        outline: none;
        background-color: transparent;
        color: white;
        border-radius: 10px;
        font-size: 15px;
        margin-left:6pc ;
        margin-bottom: 5px;
    
    }
}